<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('bootstrap.min', folder='CSS/', format_='css') }}">
    <link type="image/x-icon" href="{{ static('favicon', folder='icon/', format_='ico') }}" rel="icon">

    <title>Hello, world!</title>
  </head>

  <body>
    <h4 class="text-center" style="font-style: italic">Книжная полка</h4>
    <hr>
    {% block pagination %}
    {% endblock pagination %}
    <hr>

    {% block container %}
    {% endblock container %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="{{ static('slim.min', folder='JS/', format_='js') }}"></script>
    <script src="{{ static('popper.min', folder='JS/', format_='js') }}"></script>
    <script src="{{ static('bootstrap.min', folder='JS/', format_='js') }}"></script>
  </body>
</html>

